article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 20px 0;
  text-align: center;
}
.btn {
  margin: 5px 0;
  padding: 10px 30px;
  border: none;
  background-color: #dcff00;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
}
.btn:active {
  background-color: #000;
  color: #dcff00;
}
.hide {
  display: none;
}
.profile {
  width: 260px;
  height: 260px;
  object-fit: cover;
  object-position: center top;
  border: 10px solid #dcff00;
  border-radius: 260px;
  margin: 50px 0 10px;
}
.members {
  object-fit: cover;
  object-position: center top;
  width: 768px;
  height: 280px;
  margin: 20px 0 50px;
}
#description {
  text-align: center;
}
